/* ProfileTabs.module.css */

.tabsContainer {
  width: 100%;
  max-width: 400px;
}

.tabsNavigation {
  display: flex;
  /* background: rgba(37, 102, 121, 0.08); */
  border-radius: 16px;
  /* padding: 6px; */
  backdrop-filter: blur(10px);
}

.tabButton {
  flex: 1;
  padding: 14px 18px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-500);
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
  /* background: transparent; */
  background: var(--gray-100);
}

.tabButton:hover {
  background: var(--primary-100); /* container blu chiaro */
  /* color: var(--text-primary);  */
  color: var(--primary-700);
  transform: translateY(-1px);
}

.tabButton.active {
  /* background: rgba(59, 130, 246, 0.15); */
  /* background: var(--gray-100); */
  background: transparent;
  /* color: var(--text-primary);  */
  color: var(--primary-700);
  font-weight: 600;
}

/* .tabContent {
  margin-top: 24px;
} */

.content {
  /* padding: 24px; */
  /* background: rgba(37, 102, 121, 0.04); */

  /* background: rgba(59, 130, 246, 0.15);  */
  /* background: var(--gray-100); */
  /* border-radius: 16px; */
  /* border: 1px solid rgba(37, 102, 121, 0.08); */
  backdrop-filter: blur(8px);
  animation: slideIn 0.3s ease-out;
}

.content p {
  margin: 0;
  color: var(--gray-600);
  /* color: var(--primary-900); */
  font-size: 14px;
  line-height: 1.6;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------------------ */

.toggleContainer {
  display: flex;
  /* background: rgba(37, 102, 121, 0.1); */
  /* border-radius: 8px; */
  /* padding: 2px; */
  margin-bottom: 16px;
  /* width: fit-content; */
  justify-content: center;
}

.toggleButton {
  /* padding: 8px 16px; */
  padding: 14px 16px;
  /* background: transparent; */
  background: var(--gray-100);
  border: none;
  /* border-radius: 6px; */
  font-size: 13px;
  font-weight: 500;
  /* color: rgba(37, 102, 121, 0.7); */
  color: var(--gray-500);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.toggleButton.toggleActive {
  /* background: rgba(255, 255, 255, 0.9); */
  background: transparent;
  color: var(--primary-700);
  /* color: #256679; */
  font-weight: 600;
}

.experienceContent {
  margin-top: 8px;
}
.aboutSection {
  width: 100%;
  margin-bottom: 1rem;
}

.aboutText {
  font-size: 14px;
  line-height: 1.4;
  color: #666;
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
